.wrap {
  background: linear-gradient(135deg, #3B82F6 0%, #8B5CF6 50%);
  margin-top: -64px;
  color: #fff;
}
.hero {
  padding: 5rem 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.textBlock {
  max-width: 500px;
}

.title {
  font-size: 2.5rem;
  font-family: "Georgia", serif;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
}

.description {
  margin-top: 10px;
  font-size: 18px;
}

.button {
  margin-top: 20px;
}

.imageBlock {
  max-width: 600px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.advantages {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.advantageItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.advantageItem img {
  width: 40px;
  margin-bottom: 10px;
}

.lineSeperating {
  display: block;
  margin: 20px auto 20px;
  width: 80%;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(to right, #9fb2ff, #97d3ff);
}

.blockRegister {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background: transparent;
  backdrop-filter: blur(15px);
  width: 60%;
  max-width: 600px;
}

.openMenu {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

@media (max-width: 768px) {
  .lineSeperating {
    width: 90%;
    height: 1.5px;
  }
  .advantages {
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .content {
    gap: 100px;
  }

  .hero {
    padding: 8rem 20px;
  }
  .title {
    font-size: 3rem;
  }
}
