
.title {
  margin: 0 0 12px;
}
.body {
  margin-bottom: 16px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .body {
    font-size: 0.5rem;
    line-height: 1.4;
  }
  .modal {
   width: 80%;
  }
}