.social {
  display: flex;
  gap: 1rem;
}
.socIcon {
  color: #fff;
  font-size: 20px;
}

.socialButton {
  height: 1.7rem;
  width: 1.7rem;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.75;
  }
}
