.hero {
  position: relative;
  min-height: 600px;
  overflow: hidden;
  padding: 2rem;
}

.backgroundImage {
  width: 100%;
  height: auto;
  z-index: -1;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}

.title {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .hero {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .title {
    width: 100px;
    height: 100px;
    font-size: 0.6rem;
  }
  .hero{
    min-height: 300px;
  }
}
